<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind CSS</title>
</head>

<body>
  <div class="container mx-auto px-4 mt-2">
    <h1 class="font-bold mb-3">Hello Ikram Maulana</h1>
    <a href="https://github.com/ikram-maulana"
      class="bg-pink-500 shadow-lg py-2 px-3 text-white rounded hover:bg-blue-600 hover:shadow-none transition-all duration-300">Github
      Repo</a>
  </div>
</body>

</html>